{% extends 'base.html.twig' %}

{% block head %}
{% block meta %}
{{ parent() }}
<meta name="Language" CONTENT="fr" />
<title>Recherche | Création Web - Le Blog</title>
<meta name="description" content="Blog d'astuces pour le web, web design, site internet, référencement, rechercher un article." />
<link rel="canonical" href="http://127.0.0.1:8000/recherche" />
<meta property="og:type" content="article">
<meta property="og:title" content="Recherche | Création Web - Le Blog">
<meta property="og:url" content="http://127.0.0.1:8000/recherche">
<meta property="og:description"
    content="Blog d'astuces pour le web, web design, site internet, référencement, rechercher un article.">
{% endblock %}
{% endblock head %}

{% block body %}

<h2 class="title-cards">Recherchez un article</h2>
<div class="searchbar">
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>

{% if form.vars.submitted %}
{% if articles == false %}
<p class="empty">Aucun article trouvé</p>
{% endif %}
{% endif %}

{# section all articles #}
<section class="articles">
    <div class="cards-container">
        {# cards #}
        {% for article in articles %}
        <div class="card">
            <img src="{{ asset('img/'~ article.image.url) }}" class="card-img-top" alt=" {{ article.image.alt }} "
                width="100%">
            <div class="card-content">
                <div class="categories">
                    {% for category in article.categories %}
                    <p class="card-title fs-6"> {{ category.name }} </p>
                    {% endfor %}
                </div>
                <h3> {{ article.title }} </h3>
                <a href=" {{ path('detail_article', {'slug': article.slug }) }} " class="button">Voir
                    l'article</a>
            </div>
        </div>
        {% endfor %}
        {# end cards #}
    </div>
</section>
{# end section all articles #}

{# newsletter #}
{% block newsletter %}
{% include 'parts/newsletter.html.twig' %}
{% endblock newsletter %}
{# end newsletter #}
{% block popular %}
{% include 'parts/popular.html.twig' %}
{% endblock popular %}


{% endblock body %}