<!DOCTYPE html>
<html>

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Web Création - Le Blog">
    <meta name="apple-mobile-web-app-title" content="Web Création - Le Blog">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="publisher" content="Alice Richardeau" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap">
    <link rel="shortcut icon" href="{{ asset('img/logo-white.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('img/logo-white.png') }}" sizes="32x32">
    <meta property="og:image" content="{{ asset('img/site-web-creation-blog.jpg') }}">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:site_name" content="Web Création - Le Blog">
    {% endblock meta %}
    {% block stylesheets %}
    <link href=" {{ asset('style.css') }} " rel="stylesheet" />
    {% endblock stylesheets %}


</head>

<body>

    {% block header %}
    {{ render(controller('App\\Controller\\DefaultController::menuCategories')) }}
    {% endblock header %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% include 'parts/footer.html.twig' %}
    {% endblock footer %}

    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/global-scripts.js') }}"></script>
    {% endblock %}
</body>

</html>