{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.date) }}
{{ form_row(form.categories) }}
{{ form_row(form.image) }}

{% if article.image.url %}
<div class="container mt-3 mb-3">
    <p>Image actuelle</p>
    <img src="{{ asset('img/'~article.image.url) }}" width="250px">
    <small class="m-2 text-primary"> {{ article.image.url }} </small>
</div>
{% endif %}

{{ form_row(form.introduction) }}
{{ form_row(form.conclusion) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary m-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
