{% extends 'base-admin.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div  class="d-flex align-items-center justify-content-center">
<div class="container m-3">
    <h1 class="m-5 text-center">TOUS LES ARTICLES</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.date ? article.date|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}" class="">Voir</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}" class="btn btn-dark">Créer un article</a>
</div>
</div>
{% endblock %}
