{% extends 'base.html.twig' %}


{% block body %}

<div class="detail-article">

    {# detail article #}
    <div class="content-article">
        <h1> {{ article.title }} </h1>
        <img class="image-article" width="100%" src=" {{ asset('../../img/' ~ article.featuredImage) }} " />

        <p class="date-article"> {{ article.date|date('d/m/Y') }} </p>
        <div class="categories">
            {% for category in article.categories %}
            <p> {{ category.name }} </p>
            {% endfor %}
        </div>

        {# show introduction if it exists #}
        {% if article.introduction %}
        <p class="introduction"> {{ article.introduction }} </p>
        {% endif %}

        {# all sections #}
        {% for section in article.sections %}

            <h2> {{ section.name }} </h2>
            {% if section.images %}
                {% for image in section.images %}
                <img src="{{ asset('../../img/'~ image.url) }}" class="image-section" alt="" width="300px">
                {% endfor %}
            {%  endif %}
            {% if section.videos %}
                {% for video in section.videos %}
                <video poster="" width="320px" controls>
                    <source src=" {{ asset('../../videos/'~ video.url) }} " type="video/mp4">
                </video>
                {% endfor %}
            {%  endif %}
            <p class="text-content"> {{ section.textContent }} </p>

        {% endfor %}
    </div>

</div>

{% endblock body %}