{% extends 'base.html.twig' %}

{% block head %}
{% block meta %}
{{ parent() }}
<meta name="Language" CONTENT="fr" />
<title>{{ article.title }} | Création Web - Le Blog</title>
<meta name="description"
    content="Blog d'astuces pour le web, web design, site internet, référencement, lire l'article {{ article.title }}." />
<link rel="canonical" href="http://127.0.0.1:8000/{{ article.slug }}" />
<meta property="og:title" content="{{ article.title }} | Création Web - Le Blog">
<meta property="og:type" content="article">
<meta property="og:url" content="http://127.0.0.1:8000/{{ article.slug }}">
<meta property="og:description"
    content="Blog d'astuces et tutos pour le web, web design, site internet, référencement, lire l'article {{ article.title }}.">
{% endblock %}
{% endblock head %}

{% block body %}

{# section detail article #}
<div class="detail-article">
    {# detail article #}
    <div class="content-article">
        <h1> {{ article.title }} </h1>
        <img class="image-article" width="100%" src=" {{ asset('../../img/' ~ article.image.url) }} "
            alt=" {{ article.image.alt }} " />

        <p class="date-article"> {{ article.date|date('d/m/Y') }} </p>
        <div class="categories">
            {% for category in article.categories %}
            <p> {{ category.name }} </p>
            {% endfor %}
        </div>

        {# show introduction if it exists #}
        {% if article.introduction %}
        <p class="introduction"> {{ article.introduction }} </p>
        {% endif %}

        {# all sections #}
        {% for section in article.sections %}

            <h2> {{ section.name }} </h2>
            <p class="text-content"> {{ section.textContent }} </p>

            {# if there is parts in section #}
            {% if section.parts %}
            {% for part in section.parts %}
            <div class="part-section">
                <h3> {{ part.name }} </h3>
                <p> {{ part.content }} </p>
            </div>
            {% endfor %}
            {% endif %}

            {# if there is image in section #}
            {% if section.images %}
            {% for image in section.images %}
            <img src="{{ asset('../../img/'~ image.url) }}" class="image-section" alt="" width="300px">
            {% endfor %}
            {%  endif %}

            {# if there is video in section #}
            {% if section.videos %}
            {% for video in section.videos %}
            <div class="video">
                <video loop muted poster=" {{ asset('img/'~ video.poster ) }} " width="90%">
                    <source src=" {{ asset('videos/'~ video.url) }} " type="video/mp4">
                </video>
                <span class="play"><img src=" {{ asset('img/play-video.svg') }} " alt="Lecture"></span>
            </div>
            {% endfor %}
            {% endif %}

        {% endfor %}

        {# show conclusion if it exists #}
        {% if article.conclusion %}
        <p class="introduction"> {{ article.conclusion }} </p>
        {% endif %}
        {# if there is link in article #}
        {% if article.links %}
        {% for link in article.links %}
        <div class="links">
            <a href=" {{ link.url }} ">{{ link.title }}</a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{# share article #}
{% block share %}
{% include 'parts/social_share.html.twig' %}
{% endblock share %}

{# newsletter #}
{% block newsletter %}
{% include 'parts/newsletter.html.twig' %}
{% endblock %}


{# other articles #}
{% block all_articles %}
<h2 class="title-cards">À lire aussi</h2>
{% include 'parts/all_articles.html.twig' %}
{% endblock all_articles %}

{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src=" {{ asset('js/video.js') }} "></script>
{% endblock %}