<footer>
    <div class="container">
        <div class="bloc">
            <p><a href="https://bforweb.fr">Contact</a></p>
            <div class="social-links">
                <a href="https://www.facebook.com/people/Cr%C3%A9ation-de-site-web/100083514482862/">
                    <img src=" {{ asset('img/facebook.svg') }} " alt="facebook" width="30px">
                </a>
                <a href="https://www.instagram.com/sitewebcreation/">
                    <img src=" {{ asset('img/instagram.svg') }} " alt="instagram"  width="30px">
                </a>
                <a href="https://www.linkedin.com/company/sitewebcreation/">
                    <img src=" {{ asset('img/linkedin.svg') }} " alt="linkedin"  width="30px">
                </a>
            </div>
        </div>
        <div class="bloc">
           <p>Newsletter</p>
           {{ render(controller('App\\Controller\\NewsletterController::new')) }}
        </div>
    </div>
    <div class="bottom">
         <a href="https://bforweb.fr.fr">
            Copyright © Bforweb
        </a> - 2022 - 
        <a href="{{ path('app_mentions') }}">Mentions légales</a>
        <p><a href="{{ path('app_login') }}">Connexion</a></p>
    </div>
</footer>

