<div class="top-header">
    {# BUTTON AND SEARCH #}
    <div class="top">
    <div class="bloc">
        <a class="button button-hover-black" href="https://bforweb.fr">
            Contactez un développeur
        </a>
        <a href=" {{ path('app_search') }} " class="search"><img src=" {{ asset('/img/search.svg') }} "
                alt="Rechercher un produit"></a>
    </div>
    </div>

    {# TITLE AND BURGER MENU #}
    <div class="header">
    <div class="bloc">
        <a class="logo" href=" {{ path('default') }} ">
            <img src=" {{ asset('/img/logo-bforweb.png') }} " alt="Logo" width="50px" />
        </a>
        <p>Blog d'astuces pour le web</p>
        <div class="navbar">
            <!-- menu -->
            <a id="link" href="#"><span id="burger"></span></a>
        </div>
        <ul class="menu">
            {% for category in categories %}
            <li><a href=" {{ path('articles_for_one_category', {'slug': category.slug }) }} ">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</div>