
<section class="social-share">
    <p>Partager cet article:</p>
    <div>
        <a target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u=http://127.0.0.1:8000/post/{{ article.slug }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src=" {{ asset('uploads/images/facebook.svg') }} " alt="Facebook"></a>
        <a target="_blank" title="Twitter" href="https://twitter.com/share?url=http://127.0.0.1:8000/post/{{ article.slug }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><img src=" {{ asset('uploads/images/twitter.svg') }} " alt="Twitter"></a>
        <a target="_blank" title="Google +" href="https://plus.google.com/share?url=http://127.0.0.1:8000/post/{{ article.slug }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><img src=" {{ asset('uploads/images/google-plus.svg') }} " alt="Google Plus"></a>
        <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://127.0.0.1:8000/post/{{ article.slug }}" rel="nofollow" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><img src=" {{ asset('uploads/images/linkedin.svg') }} " alt="Linkedin"></a>
        <a target="_blank" title="Envoyer par mail" href="mailto:?Subject=Lien partagé depuis le site Bforweb - le Blog&amp;Body=http://127.0.0.1:8000/post/{{ article.slug }}" rel="nofollow"><img src="  {{ asset('uploads/images/email.svg') }}" alt="email"></a>
    </div>
</section>